td {
  height:30px;
  width:30px;
  border:1px solid;
  text-align:center;
}
td:first-child {
  border-left: 3px solid;
}
td:nth-child(3n) {
  border-right: 3px solid ;
}
tr:first-child {
  border-top: 3px solid;
}
tr:nth-child(3n) td {
  border-bottom: 3px solid ;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
@media only screen 
and (min-width : 320px) {
    table{
      width:90%;
    }
}
body {
	font-family: Roboto;
}
p {
	font-size:1.3em;
	font-weight: 800;
	font-family: Roboto; 
}
img {
	max-width:80%;
	width:60%;
	height:auto;
}
table {
	max-width:80%;
	border-collapse: collapse;
	border: 1px solid black;
	margin:10px;
	width:25%;
	padding:10px 0px;
}
td {
	border: 1.5px solid black;
	padding:2% .7%;
	text-align:center;
	position: relative;
}
